body{
font-family: 'Quicksand', sans-serif;
}



.float-image{
    float: left;
    clear: left;
    margin-left:0px;
    margin: bottom 2px;
    padding:11px ;
    width: 450px;
    height: 750px;
}
#head{
color: brown;
}
.fold{
color: brown;
text-align: center;
background-color: burlywood;
}

.h1{
    background-color: burlywood;
    color: brown;
    text-align: center;
}
.clothes{
    
    display: flex;
    gap: 60px;
    width: 400px;
    height: 240px;
    
    }
.handle{
    text-align: center;
}
.women{
    background-color: burlywood;
    display: flex;
    gap: 80px;
    height: 270px;
    padding: 40px;
}
.men{
    background-color: burlywood;
    display: flex;
    gap: 80px;
    height: 280px;
    padding: 40px;
}
.kids{
    background-color:burlywood;
    display: flex;
    gap: 100px;
    height: 250px;
    padding:40px ;
    
    
}
.method{
    background-color: burlywood;
    display: flex;
    gap: 20px;
    color: brown;
}
.head{
    color: black;
    background-color:burlywood;
    text-align: center;
}
#float{
    color: brown;
}
.float{
    float: left;
    clear: left;
    margin-left:0px;
    margin: bottom 2px;
    padding:11px ;
    width: 450px;
    height: 600px;
 
    
}
.log{
    padding: 5px;
    border-radius: 45px;
    border-color:brown;
    background-color: burlywood;
}
.sin{
    padding:5px ;
    border-radius: 45px;
    border-color:brown;
    background-color: burlywood;
}
.logs{
    padding: 5px;
    border-radius: 45px;
    border-color: brown; 
    background-color: burlywood;
}
.sins{
    padding: 5px;
    border-radius: 45px;
    border-color: brown;
    background-color: burlywood;
}
.h{
    color: brown;
}
.H{
    color: brown;
}
.m{
    color: brown;
}
.M{
    color: brown;
}




















